<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bbkal - Get Your Calculators Out, This Will Be Fun!</title>
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
</head>

<body>
    <!--Menu-->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <p class="ml-4 mt-2"><img src="https://files.fm/thumb_show.php?i=njsat3g24" width="50px" height="28"></p>
        </div>  
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a href="/"  class="navbar-item ml-5">
              Home
            </a>
            <% if (user) { %>
              <a class="navbar-item" href="/basic">
                Basic Calculator
              </a>
              <a class="navbar-item" href="/bmi">
                BMI Calculator
              </a>
              <a class="navbar-item" href="/temperature">
                Temperature Calculator
              </a>
            <% } %>  
            <% if (user.role == 'admin') { %>
                <p class="navbar-item has-text-danger has-text-weight-bold"><%= (user?user.role.toUpperCase():"") %></p>
            <% }else { %>
                <p class="navbar-item has-text-grey-light has-text-weight-medium"><%= (user?user.role.toUpperCase():"") %></p>
            <% } %> %>

            </div>
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                    <%- (!user?'<a href="/login" class="button is-light">Login</a>':'<a href="/logout" class="button is-primary">Logout</a>') %>
                </div>
              </div>
            </div>
      </nav>
      
      <!--Cover-->
      <section class="hero is-primary">
        <div class="hero-body">
          <p class="title">
            <%= (user? "Hi "+ user.role.toUpperCase() + " ^^":"") %>
          </p>
          <p class="subtitle">
            Here is our Member data
          </p>
        </div>
      </section>
    <!--Footer-->
    <div id="app" class="container is-max-desktop">
        <div><a href="/admin/member/create" class="button is-success" style="margin-top: 10px;">Add New</a>
            <table class="table is-striped is-bordered mt-3 is-fullwidth" style="margin: 10px auto;">
                <thead>
                    <tr>
                        <th>Member Name</th>
                        <th>Active</th>
                        <th class="has-text-centered">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% Member.forEach(el => { %>
                        <tr>
                            <td> <%= el.name %>  </td>
                            <td> <%= el.active %>  </td>
                            <td class="has-text-centered">
                                <a href="/admin/member/edit/<%= el.id %>" class="button is-warning is-small">Edit</a>
    
                                <button onclick= <%= "del("+el.id+")" %> class="button is-danger is-small"
                                    style="margin-left: 5px;">Delete</a>
                            </td>
                        </tr>
                    <% }) %>  
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        let del = (id) => {
            alert('call REST /api/member/' + id)
            axios.delete('/admin/api/member/' + id).then((result) => {
                alert('Info status: ' + result.status)
                location.reload();
            }).catch((err) => {
                alert('error ' + err)
            });
        }

    </script>
</body>

</html>